@font-face {
    font-family: "Yeseva One";
    src: url(../fonts/YesevaOne-Regular.ttf);
}

@font-face {
    font-family: "Nunito Sans";
    src: url(../fonts/NunitoSans-Regular.ttf);
}

body {
    background-color: #FFFFFF;
    margin: 0px;
    font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-style: normal;
    font-weight: normal;
}

body header {
    height: 83px;
}

body footer {
    height: 133px;
}

@media (max-width: 768px) {
    body footer {
       display: none;
    }
}

.container {
    min-width: 1256px;
    max-width: 1440px;
    margin: 0px auto;
    height: inherit;
    /* background-color: brown; */
}

@media screen and (max-width: 1300px) {
    .container {
        min-width: calc(100% - 60px);
        max-width: calc(100% - 60px);
    }
}

@media screen and (max-width: 768px) {
    .container {
        min-width: calc(100% - 36px);
        max-width: calc(100% - 36px);
    }
}

.content-to-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.title {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
}

.not-upcase {
    text-transform: none;
}

.h1-sz {
    font-size: 2.5em;
    line-height: 1.325em;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.h2-sz {
    font-size: 1.7em;
    line-height: 1.37em;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.h3-sz {
    font-size: 1.3em;
    line-height: 1.4em;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.h4-sz {
    font-size: 1.1em;
    line-height: 1.39em;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

@media screen and (max-width: 768px) {
    .h1-sz {
        font-size: 1.44em;
        line-height: 1.35em
    }
    
    .h2-sz {
        font-size: 1.38em;
        line-height: 1.36em
    }
    
    .h3-sz {
        font-size: 1.38em;
        line-height: 1.36em
    }
    
    .h4-sz {
        font-size: 0.94em;
        line-height: 1.4em;
    }
}

.text-yellow {
    color: #E3B873;
}

.text-white {
    color: #FFFFFF;
}

.text-center {
    text-align: center;
}

.btn {
    color: #FFFFFF;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    border: none;
    cursor: pointer;
}

.btn-yellow {
    background: #E3B873;
}

.btn-transparent {
    background: transparent;
    border: 1px solid #FFFFFF;
    font-family: Nunito Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 0.69em;
    line-height: 1.36em;
    text-align: center;
}

.btn-transparent:hover {
    background-color: #E3B873;
}

.btn-transparent:first-of-type {
    margin-right: 1.81em;
}

.btn-submit {
    background-color: #E3B873;
    width: 200px;
    height: 51px;
    text-transform: uppercase;
}

.btn-s {
    width: 161px;
    height: 37px;
    font-style: italic;
}

.btn-m {
    width: 207px;
    height: 51px;
}

.btn-l {
    width: 228px;
    height: 54px;
}


.btn-prices {
    position: absolute;
    bottom: -26px;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    text-transform: uppercase;
    font-family: Yeseva One;
    font-size: 1.125em;
    line-height: 1.4em;
}

.form-item {
    display: flex;
    flex-direction: column;
}

.input-label {
    font-size: 0.81;
    line-height: 1.61em;
    color: rgba(54, 54, 54, 0.5);
}

.label-white {
    color: rgba(255, 255, 255, 0.5);
}

.input {
    outline: none;
    border: none;
    box-sizing: border-box;
    font-size: 0.875em;
    line-height: 1.64em;
}

.input-grey-txt {
    color: #363636;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
}

.input-grey-txt::placeholder {
    color: #363636;
}

.input-white-txt {
    color: #FFFFFF;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.input-white-txt::placeholder {
    color: #FFFFFF;
}

.input-s {
    width: 231px;
}

@media screen and (max-width: 768px) {
    .input-s {
        width: 100%;
    }
}

.input-m {
    width: 408px;
}

.input-l {
    width: 516px;
}

.checkbox-label {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    font-size: 0.875em;
    line-height: 1.64em;
}

.checkbox{
    display: none;
}

.checkbox-fake{
    display: inline-flex;
    width: 18px;
    height: 18px;
    border-radius: 1px;
    background: #E3B873;
    color: #fff;
    justify-content: center;
    margin-right: 9px;
}

.checkbox-fake::before{
    content: url(../img/checkmark.svg);
    opacity: 0;
    transition: .2s;
}

.checkbox:checked + .checkbox-fake::before{
    opacity: 1;
}


.header-footer {
    background-color: #131313;
    width: 100%;
    font-size: 0.69em;
    line-height: 1.36em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header-footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0px 91px 0px;
}

@media screen and (max-width: 1300px) {
    .header-footer-wrapper {
        margin: 0px;
    }
}

.navigation, .nav-slider {
    display: flex;
    list-style: none;
    padding: 0px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.navigation-margin-left {
    margin-left: 50%;
}

.nagivation_item {
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 4.25em;
}

.nav-slider .nav-slider-item {
    font-size: 14px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.3);
    margin-right: 3.75em;
    margin-top: 7.64em;
    margin-bottom: 3.32em;
}

.nav-slider-item:hover, .nav-slider .active {
    color: #E3B873;
    padding-bottom: 6.5px;
    border-bottom: 1px #E3B873 solid;
}

@media screen and (max-width: 768px) {
    .navigation {
        display: none;
    }

    .header-footer .btn {
        display: none;
    }
}

.transparent-layer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
}

.section-container {
    display: flex;
    flex-direction: column;
}

.home-section {
    background-image: url(../img/home_page_img.jpg);
    background-color: #FFFFFF;
    color: #FFFFFF;
    height: calc(100vh - 83px);
    background-size: cover;
    background-position: center;
    position: relative;
}

.home-section-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    max-width: 533px;
    margin-left: 9.3%;
}

.losung {
    font-size: 1.375em;
    line-height: 1.64em;
}

.btn-block {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .home-section-wrapper {
        max-width: 100%;
        margin: 0px
    }

    .losung {
        font-size: 0.875em;
        line-height: 1.36em;
    }

    .btn-block {
        display: flex;
        flex-direction: column;
    }

    .btn-block .btn{
        width: 100%;
        margin: 0px;
    }

    .btn-block .btn:first-of-type {
        margin-bottom: 1.63em;
    }
}

.projects-section {
    background-color: #131313;
    padding-bottom: 25.9em;
}

.project-content {
    position: relative;
}

.slidesSet {
    max-height: 482px;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.slidesSet .image-small {
    display: none;
}

.slidesSet .image-large {
    display: flex;
}

.project-content-intro {
    display: flex;
    flex-direction: column;
}

.project-content-intro p {
    max-width: 65%;
    font-size: 0.875em;
    line-height: 1.9em;
    margin-bottom: 4.1em;
}

@media screen and (max-width: 768px) {
    .slidesSet {
        max-height: unset;
        max-width: 100%;
        flex-direction: row;
        justify-content: center;
    }

    .slidesSet .image-large {
        display: none;
    }

    .slidesSet .image-small {
        display: flex;
    }

    .project-content-intro {
        max-width: 100%;
        text-align: center;
        align-items: center;
    }

    .project-content-intro p {
        max-width: 90%;
    }
}

.col-2 {
    width: 50%;
}

.project-description {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.project-description-text {
    font-size: 0.82em;
    line-height: 1.6em;
    color: #FFFFFF;
}

@media screen and (max-width: 768px) {
    .project-description .h3-sz {
        font-size: 0.875em;
        line-height: 1.36em;
    }

    .project-description-text {
        max-width: 60%;
    }
}

.slider-control {
    position: absolute;
    bottom: 5px;
    display: flex;
    align-items: center;
    outline: none;
}

.slider-control-mobile {
    display: none;
    width: 100%;
    position: absolute;
    bottom: 40%;
}
.slider-control-mobile input:first-child{
    margin-right: 75%;
}

@media screen and (max-width: 768px) {
    .slider-control, .nav-slider {
        display: none;
    }

    .slider-control-mobile {
        display: block;
    }

    .project-content-intro {
        order: -1;
    }

    .project-description {
        order: 3;
    }
    
    .slidesSet .img-holder {
        order: 1;
    }
}

.online-control-section {
    background-color: transparent;
    padding-bottom: 9.25em;
    margin-top: -20.6em;

}

.online-control-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.online-control-wrapper .title {
    margin-bottom: 1.37em;
}

.online-control-wrapper img {
    margin-bottom: 1.94em;
}

#videoPlayer {
    width: 57%;
}

@media screen and (max-width: 768px) {
    #videoPlayer {
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
    #videoPlayer {
        width: 80%;
    }
}

.serapator-line {
    width: 55px;
    border: 1.5px solid #E3B873;
    opacity: 0.3;
    border-radius: 30px;
    margin-block-start: 3.9em;
    margin-block-end: 0em;
}

.online-control-text {
    max-width: 45%;
    text-align: center;
    font-size: 1.125em;
    line-height: 2.056em;
    margin-block-start: 1.889em;
    margin-block-end: 5.056em;
}

.online-control-form {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 60%;
}

.online-control-form > .form-item {
    margin-right: 3.5em;
    margin-bottom: 2.3em;
}

@media screen and (max-width: 768px) {
    .online-control-text {
        max-width: 100%;
        text-align: center;
        font-size: 0.69em;
        line-height: 1.73em;
    }

    .online-control-form {
        max-width: 100%;
    }

    .online-control-form > .form-item {
        margin-right: 0em;
        margin-bottom: 0em;
    }

    .online-control-form .form-item:first-child {
        margin-bottom: 3.9em;
    }

    .online-control-form .btn {
        width: 100%;
        order: 2;
    }

    .online-control-form .checkbox-label {
        margin-top: 1.66em;
        margin-bottom: 3.875em;
    }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
    .online-control-text {
        max-width: 70%;
        text-align: center;
    }

    .online-control-form {
        max-width: 100%;
    }

    .online-control-form > .form-item {
        margin-right: 0em;
    }

    .online-control-form .form-item:first-child {
        margin-right: 3.5em;
    }

    .online-control-form .checkbox-label {
        width: 100%;
        justify-content: center;
        margin-bottom: 2em;
    }

    .online-control-form .btn {
        width: 50%;
        order: 2;
    }
}

.reparir-types-section {
    background-color: inherit;
}

.reparir-types-wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1236px;
}

.reparir-types {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.type_item img {
    width: 100%;
    height: auto;
}

.type-list {
    width: 75.5%;
    background: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    margin: auto;
    margin-top: -127px;
    position: relative;
    z-index: 2;
    padding-left: 2.125em;
    padding-top: 1.6em;
    padding-bottom: 3em;
}

.type-list ul {
    color: #959595;
    padding-inline-start: 1.1em;
    font-size: 0.81em;
    line-height: 2.07em;
}

.type-list .btn {
    margin-left: -1.9em;
}

@media (max-width: 768px) {
    .reparir-types {
        flex-direction: column;
        margin: auto;
    }

    .type_item {
        margin-bottom: 4.9em;
    }

    .type-list {
        margin-left: 0;
    }
}

.reviews-section {
    margin-top: 110px;
    background-image: url(../img/our_client_backgnd.jpg);
    background-repeat: repeat-x;
    background-position: bottom
}

@media screen and (max-width: 768px) {
    .reviews-section {
        display: none;
    }
}

.reviews-section-wrapper {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 371px;
}

.section-icon {
    margin-top: 1.25em;
    margin-bottom: 1.9em;
}

.reviews-section-losung {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #363636;
    margin-bottom: 39px;
}


.reviews {
    display: flex;
    justify-content: space-between;
    min-width: 1236px;
}

.review-content {
    max-width: 376px;
    max-height: 428px;
    padding-bottom: 27px;
    background: #FFFFFF;
    border: none;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
    padding: 24px 38px 67px 20px;
    position: relative;
}

.review-content__client {
    display: flex;
    align-items: center;
    margin-bottom: 22px;
}

.review-content__client img {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 38px;
    margin-right: 23px;
}

.client-name {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 1.125em;
    line-height: 1.28em;
    color: #181818;
    max-width: 45%;
}

.review-content__text {
    font-style: normal;
    font-weight: normal;
    font-size: 0.81em;
    line-height: 1.77em;
    color: #959595;
    text-align: left;
    max-width: 318px;
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
    .reviews {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-width: 60%;
        max-width: calc(100% - 60px);
    }

    .review-content {
        max-width: 100%;
        margin-bottom: 47px;
    }

    .review-content__text {
        min-width: 0px;
        max-width: 100%;
    }
}

.review-content__label-group {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: -26px;
    left: 0px;
}

.label-group__item {
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 13px 0px 17px;
    background-color: #E3B873;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    border: none;
    height: 54px;
    border-radius: 0px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.label-group__item:first-child {
    border-right: 0.75px solid #FFFFFF;
}

.label-group__item img {
    margin-right: 15px;
}

.about-us-section {
    width: 100%;
    background-color: transparent;
    position: relative;
}

.about-us-background {
    width: 100%;
    height: 100%;
    background-color: #181818;
    background-image: url(../img/about_us_backgnd.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.question-form {
    background-color: #181818;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 62%;
    margin: auto;
    margin-top: -223px;
    padding: 2.15em 0em 2.15em;
}

@media (max-width: 768px) {
    .about-us-background {
        background-image: none;
    }

    .question-form {
        max-width: 100%;
        margin: auto;
    }

    .about-us-background .transparent-layer {
        display: none;
    }
}

.question-form .title {
    margin-bottom: 2.25em;
}

.question-form-inline {
    display: flex;
    flex-direction: row;
}

.question-form-inline .form-item:first-child{
    margin-right: 3.625em;
}

.question-form > .question-form-inline {
    margin-bottom: 3.1em;
}

.question-form > .form-item {
    margin-bottom: 2.9em;
}

.question-form > .checkbox-label {
    margin-bottom: 3.125em;
}

@media (max-width: 768px) {
    .about-us-section .question-form-inline {
        flex-direction: column;
        width: 100%;
        margin-bottom: 40px;
    }

    .about-us-section .form-item:first-of-type {
        margin-bottom: 63px;
    }

    .about-us-section .form-item {
        width: 100%;
        margin-bottom: 22px;
    }

    .about-us-section .btn-submit {
        width: 100%;
    }
}

.company-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3.25em;
}

.company-contacts .title {
    text-align: center;
}

.social-media {
    display: flex;
    justify-content: center;
    margin-top: 1.625em;
}

.social-media-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E3B873;
    width: 28px;
    height: 28px;
    border-radius: 14px;
    border: none;
}

.social-media .social-media-button:first-child {
    margin-right: 0.94em;
}

.company-location {
    width: 925px;
    height: 465px;
    margin-top: 2.69em;
    margin-bottom: 4.125em;
}

@media screen and (max-width: 768px) {
    .company-contacts {
        margin-top: 0em;
    }

    .company-contacts .social-media {
        margin-bottom: 3em;
    }

    .company-location {
        width: 100%;
        height: 255px;
        margin-top: 2.69em;
        order: -1;
    }
}